html {
  font-size: 12px; 
}

body {
  margin-top: 120px;
}

[v-cloak] > * { display:none }

.hide {
  display: none;
}

.fa-exclamation-triangle {
  color: goldenrod;
}

input[type="checkbox"]+.fa,
input[type="checkbox"]+label>.fa,
input[type="radio"]+.fa,
input[type="radio"]+label>.fa {
  cursor: pointer;
}

/* Unchecked */
input[type="checkbox"]+.fa-check-circle:before,
input[type="checkbox"]+label>.fa-check-circle:before,
input[type="radio"]+.fa-check-circle:before,
input[type="radio"]+label>.fa-check-circle:before {
  content: "\f111";
}

/* .fa-circle */
input[type="checkbox"]+.fa-dot-circle-o:before,
input[type="checkbox"]+.fa-check-circle-o:before,
input[type="checkbox"]+label>.fa-dot-circle-o:before,
input[type="checkbox"]+label>.fa-check-circle-o:before,
input[type="radio"]+.fa-dot-circle-o:before,
input[type="radio"]+label>.fa-dot-circle-o:before,
input[type="radio"]+.fa-check-circle-o:before,
input[type="radio"]+label>.fa-check-circle-o:before {
  content: "\f10c";
}

/* .fa-circle-o */
input[type="radio"]+.fa-circle:before,
input[type="radio"]+label>.fa-circle:before {
  content: "\f1db";
}

/* .fa-circle-thin */
input[type="checkbox"]+.fa-check:before,
input[type="checkbox"]+.fa-check-square-o:before,
input[type="checkbox"]+label>.fa-check:before,
input[type="checkbox"]+label>.fa-check-square-o:before {
  content: "\f096";
}

/* .fa-square-o */
input[type="checkbox"]+.fa-check-square:before,
input[type="checkbox"]+label>.fa-check-square:before {
  content: "\f0c8";
}

/* .fa-square */

/* Checked */
input[type="checkbox"]:checked+.fa-check:before,
input[type="checkbox"]:checked+label>.fa-check:before {
  content: "\f00c";
}

input[type="checkbox"]:checked+.fa-check-circle:before,
input[type="checkbox"]:checked+label>.fa-check-circle:before,
input[type="radio"]:checked+.fa-check-circle:before,
input[type="radio"]:checked+label>.fa-check-circle:before {
  content: "\f058";
}

input[type="checkbox"]:checked+.fa-check-circle-o:before,
input[type="checkbox"]:checked+label>.fa-check-circle-o:before,
input[type="radio"]:checked+.fa-check-circle-o:before,
input[type="radio"]:checked+label>.fa-check-circle-o:before {
  content: "\f05d";
}

input[type="checkbox"]:checked+.fa-check-square:before,
input[type="checkbox"]:checked+label>.fa-check-square:before {
  content: "\f14a";
}

input[type="checkbox"]:checked+.fa-check-square-o:before,
input[type="checkbox"]:checked+label>.fa-check-square-o:before {
  content: "\f046";
}

input[type="radio"]:checked+.fa-circle:before,
input[type="radio"]:checked+label>.fa-circle:before {
  content: "\f111";
}

input[type="checkbox"]:checked+.fa-dot-circle-o:before,
input[type="checkbox"]:checked+label>.fa-dot-circle-o:before,
input[type="radio"]:checked+.fa-dot-circle-o:before,
input[type="radio"]:checked+label>.fa-dot-circle-o:before {
  content: "\f192";
}

input[type=radio]:checked+label {
  color: var(--success);
  font-style: normal;
}

.fa-dice-6:before {
  content: "\f526";
}

.fa-dice-5:before {
  content: "\f523";
}

.fa-dice-4:before {
  content: "\f524";
}

.fa-dice-3:before {
  content: "\f527";
}

.fa-dice-2:before {
  content: "\f528";
}

.fa-dice-1:before {
  content: "\f525";
}

.dices {
  transform: scale(1.6);
}

.btn-group-xxl>.btn,
.btn-xxl,
.form-control-xxl {
  padding: 0.9rem 2rem;
  font-size: 2.59375rem;
  line-height: 1;
  border-radius: 0.4rem;
}
.btn-xxl span.btn-label-right {
  margin: -0.9rem -2rem -0.9rem 1rem;
  padding: 0.9rem 2rem;
}

.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
  outline: none;
  box-shadow: none;
}

.playername {
  font-family: "Bangers", cursive;
  font-size: 4rem;
}

.playername2 {
  font-family: "Bangers", cursive;
  font-size: 1.2rem;
}

.dice {
  position: relative;
  transform: rotate(0deg);
}

.hold-0 {
  transition: all 0.4s ease;
  -ms-transform: rotate(0deg);

  top: 0;
}

.hold-1 {
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  top: -12px;
}

.hold-2 {
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
  top: -20px;
}

.hold-3 {
  transition: all 0.4s ease;
  -ms-transform: rotate(1deg);
  transform: rotate(1deg);
  top: -16px;
}

.hold-4 {
  transition: all 0.4s ease;
  -ms-transform: rotate(5deg);
  transform: rotate(5deg);
  top: -22px;
}

.hold-5 {
  transition: all 0.4s ease;
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
  top: -14px;
}

input {
  font-family: "Bangers", cursive;
}

.btn-success {
  font-family: "Bangers", cursive;
  border: 0;
  border-bottom: 7px solid rgba(71, 71, 71, 0.5) !important;
  border-radius: 5px !important;
}

.btn-warning {
  font-family: "Bangers", cursive;
  border: 0;
  border-bottom: 7px solid rgba(71, 71, 71, 0.5) !important;
  border-radius: 5px !important;
}

.btn-light {
  font-family: "Bangers", cursive;
  border: 0;
  border-bottom: 7px solid rgba(71, 71, 71, 0.8) !important;
  border-radius: 5px !important;
}

.btn-dark {
  font-family: "Bangers", cursive;
  border: 0;
  border-bottom: 7px solid rgba(71, 71, 71, 0.5) !important;
  border-radius: 5px !important;
}

.btn-top {
  font-family: "Bangers", cursive;
  border: 0;
  background-color: rgba(66, 78, 90, 0.6);
}

.bborder {
  border-bottom: 7px solid rgba(71, 71, 71, 0.5) !important;
  border-radius: 5px !important;
}

input:-webkit-autofill {
  color: #2a2a2a !important;
  background-color: #3b4651 !important;
}

input.form-control-xxl {
  width: calc(100% - 116px) !important;
}

.playerfullpoints {
  position: relative;
  background: rgba(0,0,0, 0.1);
  border-radius: 0.5rem;
  padding: 0.8rem;
}